ide-config
ide-config\
ide-config.txt
Cronograma Beca Teste 24.06.xlsx
"Orienta\303\247\303\265es SKILL (9).pdf"
"V2 - Roteiro das instala\303\247\303\265es e configura\303\247\303\265es[21].docx"
desktop.ini
fenix/
senhas/
teste git/
